# ==========================================
# Creator: MrZyro
# Telegram: @MrZyro_dev
# GitHub: https://github.com/MrZyro
# ==========================================

# Telegram API credentials (from https://my.telegram.org)
API_ID=31963776
API_HASH=d352f599aff861566030a3cbba3a0f75

# Telegram Bot Token (from @BotFather)
TOKEN=8988622858:AAHamrsZ_mCiTB4L950B7k7Y8QApzcWPDRc

# Database configuration
MONGO_URL= mongodb+srv://Admin:<db_password>@waifucluster.z39laam.mongodb.net/?appName=WaifuCluster
BACKUP_MONGO_URL=
DB_NAME=waifucluster

# Logging channel ID/username (errors and logs are sent here)
BOT_LOGGING=-1004305990907

# Character updates / logs channel (Database ID)
DATABASE_ID=-1004153036996

# Support chat / channel for Force Join
FORCE_JOIN=-1004305990907

# Support and Update channel URLs for users
SUPPORT_CHAT=-1004305990907
UPDATE_CHAT=
MUSJ_JOIN=

# Admin user configurations
OWNER_ID=7974236970

# ImgBB API Key for character image uploads
IMGBB_API_KEY=550ead1e90c77896dbc4baf9703ac3a7
